@model IEnumerable<Domain.ExerciseInWorkout>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Exercise.ExerciseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Workout.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sets)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Repetitions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Exercise.ExerciseName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Workout.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sets)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Repetitions)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExerciseInWorkoutID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExerciseInWorkoutID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExerciseInWorkoutID })
        </td>
    </tr>
}

</table>
